.odd {
    background-color: rgb(232, 2, 121);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#two {
    color: rgb(2, 17, 232);
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: rgb(0, 255, 115);
    font-size: 24px;
    font-weight: bold;
}