/*.container .text {
    background-color: rgb(255, 251, 0);
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
} */

div p {
    background-color: rgb(255, 251, 0);
    color: rgb(255, 0, 0);
    font-size: 20px;
    text-align: center;
}